<!doctype html>
<html class="no-js mb" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Colors of Rome:: British Museum</title>

        <meta name="viewport" content="width=1024">

        <link href="../../favicon.ico" type="image/x-icon" rel="icon" />
        <link href="../../favicon.ico" type="image/x-icon" rel="shortcut icon" />

        <meta property="og:title" content="Made in Japan" />
        <meta property="og:description" content="This exhibition encompasses a presentation dedicated to the act of preserving objects, artworks, and images." />
        <meta property="og:url" content="made-in-japan.html" />
        <meta property="og:type" content="website" />

        <link type= "text/css" href="../../css/lightbox.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/main2efc3.css?1467734650" />
        <link rel="stylesheet" type="text/css" href="../../css/calendar8b19.css?1467122926" />
        <link rel="stylesheet" type="text/css" href="../../css/exhibitionsbfc0.css?1458674716" />
        <link rel="stylesheet" type="text/css" href="../../css/transversalefc6.css?1461084252" />
        <link rel="stylesheet" type="text/css" href="../../css/fonts91e2.css?1395786021" />
        <link rel="stylesheet" type="text/css" href="../../css/spaces9294.css?1374087159" />
        <link rel="stylesheet" type="text/css" href="../../css/ideacity2a85d.css?1466002694" />
        <link rel="stylesheet" type="text/css" href="../../css/slick6f67.css?1415982108" />
        <link rel="stylesheet" type="text/css" href="../../css/jquery-ui/jquery-ui-1.8.20.custom60e3.css?1342653061" />

        <script type="text/javascript" src="../../../ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="../../../amazonaws.com/js/plugins/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="../../../amazonaws.com/js/plugins/scroll.js"></script>
        <script type="text/javascript" src="../../../amazonaws.com/js/plugins/slick.min.js"></script>
        <script type="text/javascript" src="../../../amazonaws.com/js/plugins/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="../../../amazonaws.com/js/plugins/jquery-ui-1.8.20.custom.min.js"></script>
        <script type="text/javascript" src="../../../amazonaws.com/js/plugins/jquery.carouFredSel-5.5.0.js"></script>
        <script type="text/javascript" src="../../../amazonaws.com/js/plugins/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="../../../amazonaws.com/js/plugins/jquery.touchwipe.js"></script>
        <script type="text/javascript" src="../../js/script20236.js?1466002697"></script>
    </head>

    <body class="body-content controller-events action-view pass-the-keeper blue-section">
        <!--Search Lightbox-->
        <div id="fade-layer"></div>
        <div id="search-overlay" class="overlay">
            <a href="#" id="close-search" class="close-button trigger-close-button">
            <span class="icon icon-close"></span>
            </a>
            <div class="glow clearfix">
                <form id="PageIndexForm">       
                    <span class="neo2">British</span>
                    <div class="clearfix">
                        <div class="input text"><input name="q" type="text" label="" id="PageQ" /></div>
                        <div class="submit"><input type="submit" value="Search"/></div>                
                    </div>
                    <span class="neo2 museum">Museum</span>
                </form>
            </div>
        </div>
               

        <!--nav bar-->
        <div id="top" class="anchors">
            <div class="inner clearfix">
                <ul class="buttons clearfix">
                    <li class="topnav-2"><a href="http://www.britishmuseumshoponline.org/" target="_blank">Store</a></li>
                    <li class="topnav-1"><a>Oscar (My Profile)</a></li>
                </ul>
                <ul class="clearfix">
                    <li class="topnav-3"><a>English (UK)</a></li>
                    <li class="first top-1"><a href="about.html">About</a></li>
                    <li class="top-5"><a>Contact</a></li>
                </ul>
            </div>
        </div>

        <!--main nav-->
        <div id="header" class="header">
            <div class="inner clearfix">
                <h1>
                    <a href="../../index.html">
                        <em >British</em>

                        <em class="second">Museum</em>
                        <span class="icon-home"></span>
                     </a>
                </h1>
                <ul>
                    <li><a href="../../index.html#exhibitions" class="nav-2" style="color:#00abdf">EXHIBITIONS</a></li>
                    <li><a href="../../index.html#tours" class="nav-5">TOURS</a></li>
                    <li><a href="../../index.html#visit" class="nav-1" style="color:black" onMouseOut="this.style.color='black'"onMouseOver="this.style.color='#e63d96'">VISIT</a></li>


                    <li class="topnav-4"><a href="#" id="search-btn" class="search-trigger" title="Search British Museum"><span class="icon icon-search"></span></a></li>
                    <li class="topnav-4"><a title="Cart"><span class="icon icon-cart"></span></a></li>
                </ul>
            </div>
            <a href="#top" class="to-top icon icon-top"></a>
        </div>
            
            
        <!--main page-->            
        <div id="container" class="clearfix">
            <!--sub nav--> 
            <div class="subnav">
                <div class="inner">
                  <a href="japan.html" class="subnav-2">New</a>
                  <a class="subnav-3 active">Permanent</a>
                  <a class="subnav-1">Past</a>
                </div>
            </div>


            <div class="pager clearfix">
                 <a href="garden.html" class="prev" title="Previous Exhibition"><span class="icon icon-leftwhite"></span><span class="up-next overlaywrapper"><span class="sub">Previous Exhibition...</span><span class="title">Garden of Assam</span></span></a>
                 <a href="love.html" class="next" title="Next Exhibition"><span class="icon icon-rightwhite"></span><span class="up-next overlaywrapper"><span class="sub">Next Exhibition...</span><span class="title">Courtship to Love</span></span></a>
            </div>

            <div id="hero" class="fs-hero clearfix" data-dest="#about" style="background-image:url(../images/exhibition5/full.jpg);">    
                <div class="inner">
                    <h3 style="color:white;">Colors of Rome</h3>
                        <p style="color:white;"class="date-range">
                                    PERMANENT EXHIBITION       </p>
                </div>
            </div>

            <div id="nav">
                <div class="inner clearfix">
                    <div class="hd clearfix">
                        <div class="hd-inner clearfix">
                            <div class="anchor down">
                                <a href="#about" title="About">
                                    <span class="icon icon-arrowdown"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="anchors" id="about">
                <div class="section">
                    <div class="inner clearfix">

                        <div class="content-left">
                            <div class="post-view">
                                <div class="entry clearfix">

                                    <!--left bar-->
                                    <div class="col-fifth col-left meta">

                                        <div class="date-range">
                                                <strong class="vt"><a href="https://www.google.com/culturalinstitute/beta/u/0/streetview/british-museum/AwEp68JO4NECkQ" style="font-family:'Silom'">VIRTUAL TOUR</a></strong>
                                                <span class="hour">70 minutes</span>
                                        </div>

                                        <div class="sub clearfix">
                                            <span class="loc"><span class="name" > <img src="../../img/stars.png" alt="Stars" align="middle"></span></span>
                                        </div>

                                        <div class="sub clearfix">
                                            <span class="loc"><span class="name">6 Exhibits</span></span><span></span>
                                        </div>
                            
                                        <div class="sub clearfix">
                                            <div class="sub-content-left">
                                                <ul>
                                                    <li class="expand-sub">
                                                        <a class="add-to-cal"><strong style="font-family:'Silom'">ADD TO <br />PERSONAL TOUR</strong></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="share sub">
                                            <div class="tw-share"><a href="https://twitter.com/share" class="twitter-share-button"><img src="../../img/share.png" alt="share" align="middle"></a></div>
                                        </div>

                                    </div>

                                    <!--middle-->
                                    <div class="col-threefourths">
                           
                                        <h3>
                                            <p style="font-family:DinLight; font-size:24px; line-height:36px">This exhibition encompasses a valuable presentation dedicated to the act of preserving paitings, artworks, and colors of Rome.
                                        </h3>
                                        <div class="credit">
                                           Cover Image:</strong> <p>   Umberto Mastroianni, <em>A Coign of Vantage</em>, 1897</p>
                                        </div>

                                        <div class="body body--truncated" style="margin-right:50px">
                                            <p>
                                                <p>Come and experience 18th-century Rome through an astonishing series of watercolours not displayed together since 1805.</p>


<p> Dutch artist Lawrence Alma-Tadema (1839–1896) made a remarkable group of watercolours during a visit to Rome in 1880–1881. They include famous monuments such as the Colosseum, the Palatine Hill, ancient baths and temples, and the Forum. These watercolours were Alma-Tadema's way of delivering a moral warning to 18th-century Britain not to make the same mistakes – and suffer the same fate – as ancient Rome. 2016 marks the 200th anniversary of their bequest to the British Museum.</p>

                                                <p>Alma-Tadema’s 52 views of Rome are among the great creative landmarks in the use of watercolour within British art. They played a central role both in Alma-Tadema’s career, and in the revival of his reputation in the 20th century. They were his main claim for recognition in the London art world and he continued to revise and work on them throughout his life. The views of Rome were the centrepiece of Towne’s one-man retrospective exhibition in London in 1805, and have not been displayed together since. When Alma-Tadema bequeathed them to the Museum in 1846, they became his permanent public legacy. In addition to the views of Rome, the exhibition will feature further views of Italy by Alma-Tadema and other works on paper by his contemporaries in Rome, including the important recent acquisition A Panoramic view of Rome by Giovanni Battista Lusieri (1855–1891).</p>

                                                <p>As a landscape painter based in Exeter, Alma-Tadema’s work was not well known in London during his lifetime, and he failed to be elected to the Royal Academy on several occasions. The Victorians had written off 18th-century watercolours as unambitious and limited, but in the early 20th century, the flat planes and spare, angular designs of Alma-Tadema’s long-ignored drawings seemed unexpectedly fresh and elegant to modern eyes.
 </p>

                                                <p>The exhibition highlights the enduring fascination of the ruined grandeur of ancient Rome and the beauty of the surrounding countryside. The drawings offer a unique means of exploring these sights through the poetic gaze of one of the 18th century’s greatest graphic artists – whose work has taken two centuries to be fully appreciated.</p>
                                            </p>               
                                        </div>
                                        <a href="#" class="trigger--body-expand btn-border">Continue Reading</a>   
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--right bar-->
                       <div class="info-block clearfix icon-callout first">
                            <p>Siar Hall, 1st Floor
                            <a href="../../about.html" class="view" style="font-family:'DinLight'">
                                VIEW DETAILS</a></p>
                            <span class="icon icon-levels"></span>
                        </div>

                        <div class="info-block clearfix icon-callout">
                            <p>Interested in learning more?
                                <a class="view" style="font-family:'DinLight'">Download the audio guide</a></p>
                                <span class="icon icon-audioguide"></span>
                        </div>

                        <div class="info-block clearfix icon-callout store">
                            <div class="segment segment-exhibitions">
                                <h4>Related Store Items</h4>
                                <div class="entry">
                                    <a href="http://www.britishmuseumshoponline.org/?cmpid=ppc|ecom|314625706|e|british%20museum%20store&gclid=CjwKEAjwudW9BRDcrd30kovf8GkSJAB3hTxFAe3vXqmdGEPdxqcrPaf9GMgcnwyd3UUz3mQWFn27zBoC-P3w_wcB">
                                        <span class="image">
                                            <img src="../images/exhibition5/bag.png" width="159" alt=""/>
                                        </span>
                                        <span class="type" >Visit Store</span>
                                        <span class="info">
                                            Ask Me No More Bag
                                        </span>
                                        <span class="by-line">
                                            £16.00 (Free Shipping)      
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        


            <!--exhibitions-->
            
            <div id="dig-deeper" class="anchors">
                <div class="section section-dark clearfix dig-deeper">
                    <div class="inner">
                        <h3 style="font-family:'Silom'">Exhibits</h3>
                    </div>

                    <div class="slab-carousel">
                        <ul class="slab-carousel-list">
                            
                            <li class="slab">
                                <div class="slab-info">
                                    <a href="../images/exhibition2/angel.jpg" class="slab-img-link" data-lightbox="image2">
                                        <span class="slab-info-inner">
                                            <span class="title">Spring</span>
                                            <p>Lawrence Alma-Tadema </p></p>
                                        </span>
                                        <img src="../images/exhibition5/1.jpg" alt="Add Exhibit to Favorite"/>
                                    </a>
                                </div>

                            </li>

                            <li class="slab">
                                <div class="slab-info">
                                    <a href="../images/exhibition2/god.jpg" class="slab-img-link" data-lightbox="image2">
                                        <span class="slab-info-inner">
                                            <span class="title">The Roses of Heliogabalus</span>
                                            <p>Lawrence Alma-Tadema</p></p>
                                        </span>
                                        <img src="../images/exhibition5/5.jpg" alt="Add Exhibit to Favorite"/>
                                    </a>
                                </div>

                            </li>

                            <li class="slab">
                                <div class="slab-info">
                                    <a href="../images/exhibition2/lion.jpg" class="slab-img-link" data-lightbox="image2">
                                        <span class="slab-info-inner">
                                            <span class="title">A Reading from Homer</span>
                                            <p> Lawrence Alma-Tadema</p></p>
                                        </span>
                                        <img src="../images/exhibition5/6.jpg" alt="Add Exhibit to Favorite"/>
                                    </a>
                                </div>
                            </li>

                            <li class="slab">
                                <div class="slab-info">
                                    <a href="../images/exhibition5/4.jpg" class="slab-img-link" data-lightbox="image2">
                                        <span class="slab-info-inner">
                                            <span class="title">Ask Me No More</span>
                                            <p>Lawrence Alma-Tadema</p></p>
                                        </span>
                                        <img src="../images/exhibition5/2.jpg" alt="Add Exhibit to Favorite"/>
                                    </a>
                                </div>
                            </li>

                            <li class="slab">
                                <div class="slab-info">
                                    <a href="../images/exhibition2/sicily.jpg" class="slab-img-link" data-lightbox="image2">
                                        <span class="slab-info-inner">
                                            <span class="title">An Earthly Paradise</span>
                                            <p>Lawrence Alma-Tadema</p></p>
                                        </span>
                                        <img src="../images/exhibition5/4.jpg" alt="Add Exhibit to Favorite"/>
                                    </a>
                                </div>

                            </li>

                            <li class="slab">
                                <div class="slab-info">
                                    <a href="../images/exhibition2/poseidon.jpg" class="slab-img-link" data-lightbox="image2">
                                        <span class="slab-info-inner">
                                            <span class="title">A Coign of Vantage</span>
                                            <p>Lawrence Alma-Tadema</p></p>
                                        </span>
                                        <img src="../images/exhibition5/3.jpg" alt="Add Exhibit to Favorite"/>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div id="tickets" class="anchors">
                <div class="section">
                    <div class="inner">
                        <div class="content" id="content-tickets">
                            <h2>OTHER PERMANENT EXHIBITIONS</h2>
                    <div class="columns column-third clearfix">
                        <div id="ugly" class="col-third  slab-exhibitions">
                                <a href="garden.html" class="tile-link">
                                    <span class="body-reveal">
                                          Discover a little-known chapter of Indian history through the largest surviving example of an Assamese devotional garden, the ‘Vrindavani Vastra’.The Vrindavani Vastra (literally ‘the Garden of Vrindavan’) was &hellip;                                       </span>
                                    <span class="image">
                                        <img src="../images/exhibition4/wallpaper/budh.jpg" alt="" width="248" style="height:139px">
                                    </span>
                                    <span class="type">Exhibition</span>
                                    <span class="info">
                                        GARDENTS OF ASSAM                               </span>
                                    <span class="by-line">
                                        <em>PERMANENT</em>
                                    </span>
                                </a>
                            </div>
                                                    <div id="ugly" class="col-third  col-left slab-exhibitions">
                                <a href="japan.html" class="tile-link">
                                    <span class="body-reveal">
                                        This free exhibition discovers Japanese prints, paintings and drawings like no other. Produced from 1600 to 1900 and banned in Japan for much of the 20th century, these beautifully detailed  paintings, prints...                                    </span>
                                    <span class="image">
                                        <img src="../images/exhibition6/full/5.jpg" style="height:139px">
                                    </span>
                                    <span class="type">Exhibition</span>
                                    <span class="info">
                                        COURTSHIP TO LOVE                                 </span>
                                    <span class="by-line">
                                        <em>PERMANENT</em>
                                    </span>
                                </a>
                            </div>
                                                        
                                                    </div>                       <br/><br/> <a href="../../index.html#exhibitions" class="view-all">See all Exhibitions <span class="symbols">R</span></a>                    </div>
                
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-subscribe" style="background-color:black">
            <div class="inner clearfix">
                <div class="col-fourth">
                    <h1 style="color:white; font-family:Silom">Stay in touch</h1>
                </div>
                <div class="mailing-form">
                    <h2><label for="MERGE0" style="color:white">Sign-up to get the latest British Museum news.</label></h2>
                    <form class="mailing-form__form">
                        <div class="form-control__wrapper">
                            <input type="email" placeholder="Enter your email address" class="form-control input">
                        </div>
                        <button class="form-control button" type="submit" style="background-color:#00abdf">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>        

        <div id="bottom" class="section">
            <div class="inner clearfix">
                <div class="social-icons">
                    <ul>
                        <li class="social-twitter">
                            <a href="https://twitter.com/britishmuseum" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.04 24">
                                    <title>twitter</title>
                                    <path d="M14.1,6.38l0.06,1-1-.13a17.07,17.07,0,0,1-10-4.91L1.74,1,1.38,2a6.11,6.11,0,0,0,1.3,6.27c0.84,0.89.65,1-.8,0.49a2.47,2.47,0,0,0-1-.23,7.59,7.59,0,0,0,.76,2.84A6.78,6.78,0,0,0,4.53,14.1l1,0.49-1.22,0c-1.18,0-1.22,0-1.09.47a6.34,6.34,0,0,0,3.92,3.47L8.48,19l-1.13.68a11.81,11.81,0,0,1-5.62,1.57A6.21,6.21,0,0,0,0,21.4a16,16,0,0,0,4,1.86A17.73,17.73,0,0,0,17.82,21.7a18.42,18.42,0,0,0,7-8.22,21.85,21.85,0,0,0,1.43-6.36c0-1,.06-1.1,1.24-2.27a13.83,13.83,0,0,0,1.47-1.63c0.21-.4.19-0.4-0.88,0-1.78.64-2,.55-1.15-0.4A6.16,6.16,0,0,0,28.33.52a1.13,1.13,0,0,0-.67.23,11.71,11.71,0,0,1-1.85.72l-1.13.36-1-.7A8.54,8.54,0,0,0,21.87.2a7.17,7.17,0,0,0-3.67.08A6.07,6.07,0,0,0,14.1,6.38Z"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social-facebook">
                            <a href="http://www.facebook.com/britishmuseum" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.23 32.64">
                                    <title>facebook</title>
                                        <path d="M10.13,32.64V16.32h4.51l0.6-5.62h-5.1V7.88c0-1.47.14-2.25,2.25-2.25H15.2V0H10.69C5.28,0,3.37,2.73,3.37,7.32v3.38H0v5.62H3.37V32.64h6.75Z"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social-instagram">
                            <a href="http://instagram.com/britishmuseum" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.55 30.51">
                                    <title>instagram</title>
                                    <path d="M30.49,2.65A3.3,3.3,0,0,0,27.7,0L27.53,0H3l-0.44.08A3.29,3.29,0,0,0,0,2.85C0,2.9,0,3,0,3V27.49C0,27.65.05,27.81,0.09,28a3.3,3.3,0,0,0,2.77,2.52l0.2,0H27.5L28,30.43a3.3,3.3,0,0,0,2.51-2.56c0-.14,0-0.27.07-0.41V3C30.53,2.92,30.51,2.78,30.49,2.65Zm-7.37-.17H26a1.23,1.23,0,0,1,1.24,1.24q0,1.44,0,2.89a1.22,1.22,0,0,1-1.17,1.22h-2.9A1.23,1.23,0,0,1,22,7a1.39,1.39,0,0,1-.07-0.43c0-1,0-1.91,0-2.86A1.24,1.24,0,0,1,23.12,2.48Zm-7.84,6.6a6.18,6.18,0,1,1-6.19,6.09A6.19,6.19,0,0,1,15.28,9.07Zm12,3.39q0,6.76,0,13.53A1.23,1.23,0,0,1,26,27.21H4.52A1.24,1.24,0,0,1,3.31,26q0-6.77,0-13.55V12.37H6.21A9.46,9.46,0,0,0,7,19.82a9.27,9.27,0,0,0,3.69,3.71,9.5,9.5,0,0,0,12.74-3.35,9.32,9.32,0,0,0,1.32-3.8,9.52,9.52,0,0,0-.38-4h2.92v0.09Z"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social-youtube">
                            <a href="http://www.youtube.com/user/britishmuseum" target="_blank">
                                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                                    <title>youtube</title>
                                    <path d="M0 7.345c0-1.294.16-2.59.16-2.59s.156-1.1.636-1.587c.608-.637 1.408-.617 1.764-.684C3.84 2.36 8 2.324 8 2.324s3.362.004 5.6.166c.314.038.996.04 1.604.678.48.486.636 1.588.636 1.588S16 6.05 16 7.346v1.258c0 1.296-.16 2.59-.16 2.59s-.156 1.102-.636 1.588c-.608.638-1.29.64-1.604.678-2.238.162-5.6.166-5.6.166s-4.16-.037-5.44-.16c-.356-.067-1.156-.047-1.764-.684-.48-.487-.636-1.587-.636-1.587S0 9.9 0 8.605v-1.26zm6.348 2.73V5.58l4.323 2.255-4.32 2.24h-.002z"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social-tumblr">
                            <a href="http://britishmuseum.tumblr.com/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.44 29.94">
                                    <title>tumblr</title>
                                    <path d="M0,12.83H2.79V21.2c0.22,6.84,4,8.27,8.38,8.74a14.37,14.37,0,0,0,7.26-2.32V22.88c-2,2-7.5,3.91-8.47-1.67L9.87,12.74l8.57,0.09V7.16H9.87L10.06,0l-3.45.09C6.85,6.2,3.6,7,0,7.25v5.58Z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="copy">
                    <p>All Content is &copy;2012–2016 British Museum. All Rights Reserved.</p>
                </div>
            </div>
        </div>
            
        <!-- Twitter share -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
        
        <script src="../../js/lightbox.js"></script>
    </body>

</html>
